<!DOCTYPE html>
<html>
    <head> 
        {% block head %}
    
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title> {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class= fullBody>
        
            {% block body %}
            
            {% endblock %}
       
    </body>

</html>